<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">

    <meta charset="UTF-8">
    <title>Update Todo</title>
</head>
<body>
<header>
    <div class="container">
        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasAuthority('ADMIN')">
                <h2>Hello <span th:text="${#authentication.name}"></span></h2>
            </div>
            <div sec:authorize="!hasAuthority('ADMIN')">
                <p>Hello <span th:text="${#authentication.name}"></span></p>
            </div>
        </div>

        <div sec:authorize="hasAuthority('ADMIN')">
            <a class="btn btn-outline-primary" th:href="@{/admin}">Admin page</a>
        </div>
    </div>
</header>
<nav class="navbar navbar-dark bg-dark">

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-info" th:href="@{/index}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" th:href="@{/frequently-asked-questions}" href="#">FAQ</a>
        </li>
        <li sec:authorize="isAnonymous() || hasAuthority('ADMIN')" class="nav-item">
            <a class="nav-link text-info" th:href="@{/register}" href="#">Register</a>
        </li>
        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
            <a class="nav-link text-info" th:href="@{/items}" href="#">Your ToDo:s</a>
        </li>
        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
            <a class="nav-link text-info" th:href="@{/users}" href="#">AppUsers Admin</a>
        </li>
        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
            <a class="nav-link text-info" th:href="@{/create-todo}" href="#">ToDo Admin</a>
        </li>
        <li sec:authorize="hasAuthority('USER')" class="nav-item">
            <a class="nav-link text-info" th:href="@{/create-todo}" href="#">Your ToDo:s</a>
        </li>
    </ul>

    <form th:action="@{/logout}" class="form-inline" method="post">
        <div sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-info" type="submit" value="Logout">Logout</button>
        </div>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-outline-info" th:href="@{/login}" value="Login">Login</a>
        </div>
    </form>
</nav>

<main>
    <div class="container">
        <form th:action="@{/todos/{id}/update/process (id=${form.getItemId()})}" th:object="${form}" method="post">
            <h2>Update Todo</h2>
            <input type="hidden" th:value="${form.getItemId()}" th:field="*{itemId}">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" th:field="*{itemTitle}" class="form-control">
            </div>
            <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('itemTitle')}">
                <ul>
                    <li th:each="err : ${#fields.errors('itemTitle')}">
                        <span th:text="${err}"></span>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea type="text" id="description" th:field="*{itemDescription}" class="form-control"></textarea>
            </div>
            <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('itemDescription')}">
                <ul>
                    <li th:each="err : ${#fields.errors('itemDescription')}">
                        <span th:text="${err}"></span>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="deadline">Deadline:</label>
                <input type="text" id="deadline" th:field="*{deadline}" placeholder="xxxx-xx-xx" class="form-control">
            </div>
            <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('deadline')}">
                <ul>
                    <li th:each="err : ${#fields.errors('deadline')}">
                        <span th:text="${err}"></span>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="reward">Reward:</label>
                <input type="number" step="0.1" id="reward" th:field="*{reward}" class="form-control">
            </div>
            <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('reward')}">
                <ul>
                    <li th:each="err : ${#fields.errors('reward')}">
                        <span th:text="${err}"></span>
                    </li>
                </ul>
            </div>
            <label for="doneStatus"></label>
            <span th:if="*{!doneStatus}"><input type="checkbox" id="doneStatus" name="doneStatus" th:value="true" th:field="*{doneStatus}"> task is done</span>
            <br>
            <br>

            <button class="btn btn-secondary">Submit</button>
        </form>
    </div>
</main>
<footer>
</footer>
</body>
</html>